.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.link {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: center;
  margin-left: 2rem; 
}

.navbar {
  background-color: var(--mantine-color-white);
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: none;
  left: none;
  /* border-right: 1px solid var(--mantine-color-red-5); */
}

.wrapper {
  display: flex;
  /* background-color: #d88b81;
  background-image: linear-gradient(567deg, #c0ecaf 33%, #f7c6c6 74%); */
  flex: 1;
  width: 50px; 
}

.aside {
  flex: 0 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  flex: 1;
  /* background-color: #de978d;
  background-image: linear-gradient(567deg, #c0ecaf 33%, #f7c6c6 74%); */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: var(--mantine-spacing-xl);
}

.icon {
  width: 25px;
  height: 25px;
}

.mainLink {
  width: 35px;
  height: 44px;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-gray-1);
}

.mainLink:hover {
  background-color: var(--mantine-color-green-1);
}

.mainLink[data-active],
.mainLink[data-active]:hover {
  background-color: var(--mantine-color-green-light);
  color: var(--mantine-color-green-light-color);
}

.title {
  font-family: 'Greycliff CF', var(--mantine-font-family);
  margin-bottom: var(--mantine-spacing-md);
  background-color: var(--mantine-color-body);
  padding: var(--mantine-spacing-md);
  padding-top: 18px;
  height: 60px;
  /* border-bottom: 1px solid var(--mantine-color-green-1); */
}

.logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20%;
  /* background-color: #e34e3a;
  background-image: linear-gradient(5678deg, #c0ecaf 33%, #f7c6c6 74%); */
  padding-top: var(--mantine-spacing-md);
  /* border-bottom: 1px solid var(--mantine-color-red-1); */
  margin-bottom: var(--mantine-spacing-xl);
  font-weight: 700;
}

.redText {
  color: rgb(237, 40, 9);
  margin-right: 0.5rem;
  font-size: 20px;
  padding: 5px;
  /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;  */
  /* white outline */
}

.greenText {
  color: rgb(23, 71, 7);
  font-size: 20px;
  padding: 5px;
  
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: var(--mantine-radius-sm);
  color: var(--mantine-color-black-7);
  text-decoration: none;
  margin-bottom: var(--mantine-spacing-md);
}

.link:hover {
  background-color: var(--mantine-color-green-1);
  color: var(--mantine-color-dark);
}

.link[data-active],
.link[data-active]:hover {
  background-color: var(--mantine-color-green-filled);
  color: var(--mantine-color-white);
}
